<header>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a routerLink="/"><img src="assets/media/logo1.png"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li routerLinkActivate="active"><a routerLink="/"><b>Home</b></a></li>
                    <li routerLinkActivate="active"><a routerLink="nosotros"><b>Nosotros</b></a></li>
                    <li routerLinkActivate="active"><a routerLink="linea-industrial"><b>Linea Industrial</b></a></li>
                    <li routerLinkActivate="active"><a routerLink="linea-hogar"><b>Linea Hogar</b></a></li>
                    <li routerLinkActivate="active"><a routerLink="contacto"><b>Contacto</b></a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
</header>
