<h2 class="myH2">Comunícate con nosotros</h2>
<p class="myP">

    Nos interesa satisfacer tus necesitades.<br>
    Si tienes alguna duda o sugerencia no dudes en contactarnos<br>
    responderemos tu mensaje lo más breve posible.<br>
</p>
<form action="../../assets/data/correo.php" method="POST">
<section class="form-register">
    <input class="controls" type="text" name="nombre" id="nombres" placeholder="Nombre">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Correo electrónico">
    <input class="controls" type="text" name="asunto" id="asunto" placeholder="Asunto">
    <input class="controls" type="text" name="telefono" id="nombres" placeholder="Telefono">
    <input class="controls2" name="mensaje" id="mensaje" placeholder="Mensaje">
    <input class="button" type="submit" value="Enviar">
</section>
</form>
