<h1>My First Page</h1>
<h2>Second line</h2>
<h3>Third line</h3>
<h5>xxxx</h5>
<h2> Lista Ordenada </h2>
<ol start="10" type="I">
	<li>Jitomate</li>
	<li>Cebolla</li>
	<li>Chile</li>
	<li>Agua</li>
	<li>Sal</li>
</ol>
<br>
<h2> Lista no ordenada </h2>
<p>Algunas características de las redes LAN</p>
<ul>
	<li>Cobertura geográfica reducida, máximo 100m</li>
	<li>Protocolos de capa 2</li>
	<li>Difución de tramas en lugar de paquetes </li>
</ul>
<h2> Lista anidada</h2>
<ul>
  <li> Jitomate
    <ol>
      <li>Rojo</li>
      <li>Fresco</li>
    </ol>
  </li>
  <li>Cebolla</li>
  <li>Chile</li>
</ul>
<h3>Mi primer tabla</h3>
<table border="0">
	<tr>
		<th>Nombre</th>
		<th>Edad</th>
		<th>Calificacion</th>
	</tr>
		<tr>
		<td>Luis Antonio</td>
		<td>36</td>
		<td>6.2</td>
	</tr>
</table>

<table border = "1">
  <caption><p>My Scheduled</p></caption>
   <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
   </tr>

   <tr>
    <th>Breakfast</th>
    <td>In lair</td>
    <td>with cronies</td>
    <td><a> In lair</a></td>
    <td>in lair</td>
    <td>in lair</td>
   </tr>

   <tr>
    <th>Morning</th>
    <td colspan = "2">Design traps</td>
    <td colspan = "3">Improve Hideout</td>
   </tr>

   <tr>
    <th>Afternoon</th>
    <td bgcolor="red" align="right">train minions</td>
    <td>train minions</td>
    <td>train minions</td>
    <td>train minions</td>
    <td rowspan = "2">world domination</td>
   </tr>

   <tr>
    <th><a target="_blank">Ir a siguiente pagina</a>Evening</th>
    <td>manaical laughter</td>
    <td>manaical laughter</td>
    <td>manaical laughter</td>
    <td>manaical laughter</td>
   </tr>

</table>

<h1>Enlace a imagen externa</h1>
<p> Mi primera imagen </p>
<p align="center">
	<img src="../../assets/images/networks01b.jpeg" height="400" width="640" alt="Sin imagen">
</p>
